<div><div class="userProfile" v-if="!isFetch && !isFetching && !isFet" >
    <div class="header">
        <div class="leftCol">
            <div class="logo">
                <img src="https://datingchile.cl/images/layouts/logo.svg" height="60px">
            </div>
            <div class="info">
                <p><a href="#">initiation</a></p>
                <p> <a href="#">Events</a></p>
                <p><a href="#">Blogs</a></p>
                <p><a href="#" class="white">Payment Center</a></p>
            </div>
        </div>
        <div class="rightCol">
            <div>Configuration</div>
            <div v-if="!isFetch">{{cu.firstName}}</div>
            <div v-if="!isFetch"><img width="50px" height="50px" :src="getProfilePicture()" @click="$router.push('/profile/' + cu.id)"></div>
        </div>
        <div class="logout">
            <button @click ="func()">Logout</button>
        </div>
    </div>

    <div class="main" v-if="!isFetch">
        <div class="photo" :style="bgphoto()">

        </div>
        <div v-if="user.id === cu.id" class="buttons">
            <input class="upload" type="file" @change="file = $event.target.files[0]">
            <button @click="updateAvatar()">Update Avatar</button>
            <button @click="addPhoto()">Get photo</button>
        </div>

        <div class="info1">
            <span>{{user.firstName}}, {{user.age}} years old</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, velit.</p>
            <h1>What we agree</h1>
            <span>More about {{user.firstName}}</span>
            <table>
                <tr class="col1">
                    <td>First name</td>
                    <td>{{user.firstName}}</td>

                </tr>
                <tr>
                    <td>Second Name</td>
                    <td>{{user.lastName}}</td>
                </tr>
                <tr class="col1">
                    <td>Age</td>
                    <td>{{user.age}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{user.gender}}</td>
                </tr>
                <tr class="col1">
                    <td>Intention</td>
                    <td>{{user.intention}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
    <div class="albom">
        <div class="photoUser">
            <img v-for="photo in photos" :src="getPhoto(photo.photoName)" width="150px" height="150px">
        </div>
    </div>
    <div v-if="!fet && user.id === cu.id" class="visitList">
        <p>You visit this user :</p>
        <div v-for="visit in visitors"
             @click="$router.push('/profile/' + visit.userId)"
        >
            <p>{{visit.userId}}</p>
        </div>
    </div>
</div>
