<div class="startPage">
    <div class="header">
        <div class="logo">
            <div class="logo1">
                <img src="https://datingchile.cl/images/layouts/logo.svg">
            </div>
            <div class="logo2">
                <h6>Encuentra tu Pareja Ideal</h6>
            </div>
        </div>
        <div class="login">
            <div class="topText">
                <h6>Si ya tienes un Perfil</h6>
            </div>
            <div class="Panel">
                <div class="firstPanel">
                    <input placeholder = "correctEmail" @input = "Email = $event.target.value">
                </div>
                <div class="secondPanel">
                    <input placeholder="Clave" @input = "password = $event.target.value" type="password">
                </div>
                <div class="button">
                    <button @click ="func()">Ingresar</button>
                </div>
            </div>
            <div class="BottomPanel">
                <div class="rememberCheckbox">
                    <input type="checkbox" id="remember">
                    <label for="remember">Recordar Datos</label>
                </div>
                <div class="forgot">
                    <a href="#">¿Olvidaste tu Contraseña?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div>
            <div>
                <TextInput fieldTitle="EMAIL ADDRESS"
                           fieldName = "emailCreate"
                           placeholder = "correct Email"
                           fieldType = "email"
                           :fieldValue = "emailCreate"
                           :fieldChange = "changeMethod"></TextInput>
            </div>
            <div>
                <TextInput fieldTitle="PASSWORD"
                           fieldName = "passwordCreate"
                           placeholder = "min 8 symbol"
                           fieldType = "password"
                           :fieldValue = "passwordCreate"
                           :fieldChange = "changeMethod"></TextInput>
            </div>
        </div>
        <div>
            <div>
                <TextInput fieldTitle="FIRST NAME"
                           fieldName = "firstName"
                           placeholder = "genya"
                           fieldType = "text"
                           :fieldValue = "firstName"
                           :fieldChange = "changeMethod"></TextInput>
            </div>
            <div>
                <TextInput fieldTitle="LAST NAME"
                           placeholder = "genya"
                           fieldName = "lastName"
                           fieldType = "text"
                           :fieldValue = "lastName"
                           :fieldChange = "changeMethod"></TextInput>

            </div>
        </div>
        <div>
            <div class="col">
                <label for="genderForm">Gender</label>
                <select id="genderForm" @input = "gender = $event.target.value">
                    <option value=""></option>
                    <option value="man">man</option>
                    <option value="woman">woman</option>
                </select>
            </div>
            <div class="col1">
                <TextInput fieldTitle="Age"
                           placeholder = ""
                           fieldName = "age"
                           fieldType = "text"
                           :fieldValue = "age"
                           :fieldChange = "changeMethod"></TextInput>
            </div>
        </div>
        <div class="finalized">
            <div class="left">

                <input type="checkbox" @change = "checked = $event.target.checked"> <a href="#">Acepto <span>Condiciones de uso</span> </a>
            </div>
            <div class="right">
                <button @click ="create()">Create account</button>
            </div>
        </div>
    </div>
    <div class="slick-slaider">

    </div>
    <div class="content">
        <div class="div1">
            <h1>Buscar Pareja y Encontrar el Amor en Chile</h1>
            <h2>¿Buscas pareja, amor o amigos en Chile?</h2>
            <p>Datingchile.cl es el lugar perfecto para buscar y encontrar pareja y amistades por Internet. Somos el sitio web de citas más grande de Chile y hemos ayudado a miles de personas a buscar y encontrar a su pareja ideal ¡Con más de 900.000 usuarios buscando pareja encontrarás lo que buscas!</p>
        </div>
        <div class="div2">
            <div class="divLogo">
                <img src="https://datingchile.cl/images/portada/home/meet-people_2.jpg">
            </div>
            <div class="divText">
                <a href="#">Conocer Gente</a>
                <p>¿Buscas amistad, amor o diversión? Puedes encontrar miles de personas que buscan lo mismo que tú en Datingchile.cl. Filtra por edad, ciudad, intereses y personalidad.</p>
            </div>
        </div>
        <div class="div2">
            <div class="divText">
                <a href="#">Chat</a>
                <p>En nuestras salas de chat y en el Messenger Datingchile.cl hay cientos de personas que esperan conocerte.  Activa tu webcam y habla directamente con la persona que te interesa.</p>
            </div>
            <div class="divLogo">
                <img src="https://datingchile.cl/images/portada/home/chat.png">
            </div>
        </div>
        <div class="div2">
            <div class="divLogo">
                <img src="https://datingchile.cl/images/portada/home/events.png">
            </div>
            <div class="divText">
                <a href="#">Eventos</a>
                <p>Un evento en Datingchile.cl es la mejor manera de conocer solteros y sobre todo ¡pasarlo bien! Juntas, fiestas, speed dating, juegos de citas, viajes y mucho más podrás encontrar aquí.</p>
            </div>
        </div>
        <div class="div2">
            <div class="divText">
                <a href="#">Consejos</a>
                <p>Te presentamos los consejos íntimos de Datingchile.cl sobre amor y sexo que te presentarán nuestro equipo de expertos. Estos consejos te cambiarán la vida.</p>
            </div>
            <div class="divLogo">
                <img src="https://datingchile.cl/images/portada/home/tips.png">
            </div>
        </div>
        <div class="div2">
            <div class="divLogo">
                <img src="https://datingchile.cl/images/portada/home/blogs_2.jpg">
            </div>
            <div class="divText">
                <a href="#">Blogs</a>
                <p>URevisa los blogs de los columnistas de Datingchile.cl, de nuestros usuarios destacados y autores invitados expertos en amor y relaciones.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="info">
            <p>Sign up on Datingchile.cl and look for a partner in Santiago and in all regions of Chile.
                We have been operating since 2008 and we are the most important service in the country to find a partner and chat with friends on the Internet in Chile.
                In Datingchile.cl you can chat and perform precise searches to find people who meet what you are looking for in a person and thus find the average orange you always dreamed of.
                Dating and chatting with friends in Chile has never been so easy as with Datingchile.cl!
                Go ahead and trust in the history and confidence that is Datingchile.cl, we are sure that you will find new friends and a couple with us.
            </p>
        </div>
        <div class="connection">
            <div class="footerLogo">
                <img src="https://datingchile.cl/images/layouts/logo.svg" width="200px">
                <span>We take love seriously</span>
            </div>
            <div class="help">
                <h6>Press</h6>
                <p>Lee todo sobre la extensa cobertura de prensa que ha recibido Datingchile.</p>
            </div>
            <div class="help">
                <h6>Privacy Policy</h6>
                <p>If you want to know how Datingchile protects your data, you can review our privacy policy.</p>
            </div>
            <div class="help">
                <h6>Help</h6>
                <ul>
                    <li><a href="#">Customer service</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">We</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="foo">
            <span>© 2019 Datingchile - Todos los derechos reservados</span>
        </div>
        <div class="foo1">
            <a href="#"><img src="https://static-s.aa-cdn.net/img/ios/284882215/28c39964f85ff0f8e303577a6e58025c" width="30px"></a>
            <a href="#"><img src="https://static-s.aa-cdn.net/img/ios/333903271/0c06ac4292a75d4c176042028c6b58de" width="30px"></a>
        </div>
        <div class="foo2">
            <a href="#"><img src="https://static-s.aa-cdn.net/img/ios/333903271/0c06ac4292a75d4c176042028c6b58de"></a>
            <a href="#"><img src="https://static-s.aa-cdn.net/img/ios/333903271/0c06ac4292a75d4c176042028c6b58de"></a>
            <a href="#"><img src="https://static-s.aa-cdn.net/img/ios/333903271/0c06ac4292a75d4c176042028c6b58de"></a>
            <a href="#"><img src="https://static-s.aa-cdn.net/img/ios/333903271/0c06ac4292a75d4c176042028c6b58de"></a>
        </div>
    </div>
</div>
