<div class="formField">
    <label class="label"> {{fieldTitle}} </label>
    <input :id="fieldName"
           :type="fieldType"
           :placeholder="placeholder"
           v-model.trim="field"
           @input="setText($event.target.value)"/>
</div>
