.mainContainer
  display: flex
  flex-direction: column

  .photo
    display: flex
    align-items: flex-end
    width: 300px
    height: 300px
    background-image: url("http://localhost:3000/api/getAvatar/1547628901386-17241-200.png")
    background-size: cover
    background-repeat: no-repeat

    .main
      display: flex
      flex-direction: column
      width: 100%
      justify-content: flex-end
      p
        display: flex
        flex-direction: column
        color: green
        padding: 10px
  .email
    background: white
    padding: 20px
    display: flex
    justify-content: center
    border: 1px
