<div class="mainContainer">
    <div class="photo" :style="getAvatar()">
        <div class="main">
            <p>{{firstName}}</p>
            <p>{{age}} years</p>
        </div>
        <div class="chat">chat</div>
    </div>
    <div class="email">
        <p>{{email}}</p>
    </div>
</div>
